a:hover i,
a,
i {
  text-decoration: none !important;
}

.active {
  text-decoration: underline !important;
}

#home-h2 {
    color: #E57DE5;
}

#card {
  width: 400px;
}

#post-body {
  color: #434343;
}

#likes {
  margin: 3px !important;
}

#disclaimer-here {
  color: #E57DE5;
}